<phpunit bootstrap="../../../tests/php-unit-tests/unittestautoload.php" backupGlobals="false" verbose="true">
  <php>
    <!--ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED"/-->
    <ini name="display_errors" value="On"/>
    <ini name="log_errors" value="On"/>
    <ini name="html_errors" value="Off"/>
    <env name="PHPUNIT_PRETTY_PRINT_PROGRESS" value="true"/>
  </php>
  <testsuites>
    <testsuite name="testsU">
      <directory suffix="Test.php">.</directory>
    </testsuite>
  </testsuites>
</phpunit>
